{% set country = "thailand" %}
{% set country_adj = "Thai" %}
{% set countryCode = "TH" %}
{% set map_id = "1uVI54CJD-3iW86ZsOmqX2LdB8yM" %}

{% set image_url = "https://lh3.googleusercontent.com/T43P1eLRxg3SBYdeK2IR_2Pdshuw-B5wrKI5nQ_05PGRQ742hPJhJV9cBGINLBpetrYBRNPs5c6RdYeqNrjY-TVIYFbJmhkOcZisC8xPOrC2V8I19n7awXIkzst3Iuf-Dz9OAl54BnPTgqxaXztKjXOOBcaYccav1w-JWBXXECVVgUnoJngCyVXsoSNVX073lkQiaTBzEUlFWoGCzplsQblI-IjUf2-WhLCsX4tXtNZV5tgIKiUqMvn4IadxZnq2o_cdf0u8HZrjlnVBjwa8EyDnHjGrpEEB0md7FLmv6Z6xfb1zb9sxUij1DpZ-cQ3mGxq_4Jl6ypCtMyMoNyHC6ZJo69BbGwC72vpQQDCtQu9a2PhmmiONtMTPJ-OU93xxN-sympVdr_jLtdeGOMekFYVpNJlfSwnDwOVIIUOU4aZ0g3pAajn4BFN7zMIuOVGxWNo6V9UPL7MrdN15fAj7FO7FqM51otwZTyaKVqIreHI0BrLWB1E6eR59diTTk5Hpwzs97G1ClYui1KscIXYQWnV_C4OjWqNMoLMN0FVXOaLJ=w4000" %}
{% set image_width = "4000" %}
{% set image_height = "3000" %}

{% extends "./base.html" %}


{% block dishes_intro %}
  <p>Here's some of the most famous dishes (roughly in order of my preference):</p>
{% endblock dishes_intro %}