{% set country = "vietnam" %}
{% set country_adj = "Vietnamese" %}
{% set countryCode = "VN" %}
{% set map_id = "z3eNgSynVnvQ.kJTp8Bet1GRQ" %}

{% set image_url = "http://i.imgur.com/QEvZUlN.jpg" %}
{% set image_width = "3814" %}
{% set image_height = "2860" %}

{% extends "./base.html" %}


{% block dishes_intro %}
  <p>The standard of food is so high in Vietnam that you'll probably have a great meal anywhere but it's definitely worth doing research. <a href="http://www.foody.vn">Foody.vn</a> is a great site/app used by Vietnamese people a bit like how we use Yelp and TripAdvisor but it's more focused on the food (use Google Translate).</p>
  <p>More so than neighbouring countries, I found that almost all of the best food was from food stalls or road-side simple 'restaurants' with tiny plastic chairs. Like in <a href="http://chrisward.co.uk/travel/malaysia/food/">Malaysia</a>, I loved that the locals (especially the younger generations) are extremely passionate about food. Most people are foodies!</p>
  <p>I've put together a list of food-based words (coming soon) to help you translate when you're in one of the many places without an English menu.</p>

  <p>I found this <a href="http://migrationology.com/2015/02/vietnamese-food-guide-saigon/">food guide to Saigon</a> which is fantastic and really in-depth.</p>

  <p>Here's some of the most famous dishes (roughly in order of my preference):</p>
{% endblock dishes_intro %}