{% set country = "vietnam" %}
{% set country_adj = "Vietnamese" %}
{% set countryCode = "VN" %}
{% set map_id = "11xB3rqd6970xJ6ol3S_szyBtG7I" %}

{% set image_url = "//i.imgur.com/QEvZUlN.jpg" %}
{% set image_width = "3814" %}
{% set image_height = "2860" %}

{% extends "./base.html" %}


{% block dishes_intro %}
  <p>The standard of food is so high in <a href="//chrisward.co.uk/travel/vietnam/">Vietnam</a> that you'll probably have a great meal anywhere but it's definitely worth doing research. <a href="http://www.foody.vn">Foody.vn</a> is a great site/app used by Vietnamese people a bit like how we use Yelp and TripAdvisor but it's more focused on the food (use Google Translate).</p>
  <p>More so than neighbouring countries, I found that almost all of the best food was from food stalls or road-side simple 'restaurants' with tiny plastic chairs. Like in <a href="//chrisward.co.uk/travel/malaysia/food/">Malaysia</a>, I loved that the locals (especially the younger generations) are extremely passionate about food. Most people are foodies!</p>
  <p>Almost every place selling Vietnamese food will have iced tea ("trà đá") for 2,000 - 5,000d (sometimes free), so I order it with every meal as standard. Beware that some vendors will bring you items that aren't included in what you ordered - basically sneaky up-selling without mentioning that it will cost extra. Simply refuse it or leave it, unless it looks tasty of course! Some restaurants will do the same with the wet tissue in a sealed packet with the restaurant's name on it - if you use it, some will charge you a small amount extra. It feels very dishonest to me but luckily it's rare.</p>
  <p>I've put together a list of food-based words (coming soon) to help you translate when you're in one of the many places without an English menu.</p>

  <p>I found this <a href="http://migrationology.com/2015/02/vietnamese-food-guide-saigon/">food guide to Saigon</a> which is fantastic and really in-depth. Sadly I didn't find it until after I'd left but this is a popular and very thorough <a href="https://www.google.com/maps/d/viewer?mid=zCkf8fj9cT_Y.kQf4L_R22G-g&hl=en_US" target="_blank">food map for Hanoi</a>.</p>

  <p>Here's some of the most famous dishes (roughly in order of my preference):</p>
{% endblock dishes_intro %}